<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"><title> Página de adicion de notas</title></head>
<body>

<!-- nav.html -->
<nav th:replace="fragments/nav"></nav>

<div class="container" id="main-container">
  <h2 class="mt-4">Agregar departamento</h2>
  <form class="form-horizontal" method="post" action="/departments/add" th:object="${department}">

    <div class="form-group">
      <label class="control-label col-sm-2" for="code">Código:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="code" name="code" placeholder="Ejemplo: D-INF" required="true" />
        <span class="text-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="Ejemplo: Informática" required="true" />
        <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="faculty">Facultad:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="faculty" name="faculty" placeholder="Ejemplo: Escuela de Ingeniería" required="true" />
        <span class="text-danger" th:if="${#fields.hasErrors('faculty')}" th:errors="*{faculty}"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="phone">Teléfono:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Ejemplo: 985100000" required="true" />
        <span class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="professors">Número de Profesores:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="professors" name="professors" placeholder="Cantidad de docentes" required="true" />
        <span class="text-danger" th:if="${#fields.hasErrors('professors')}" th:errors="*{professors}"></span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>