<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"><title> Página de adicion de notas</title></head>
<body>

<nav th:replace="fragments/nav"></nav>

<div class="container" id="main-container">
    <h2 class="mt-4">Detalles del departamento</h2>

    <div class="card mb-3">
        <div class="card-header font-weight-bold">Nombre del Departamento</div>
        <div class="card-body">
            <p class="card-text" th:text="${department.name}">Nombre de ejemplo</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header font-weight-bold">Código</div>
        <div class="card-body">
            <p class="card-text" th:text="${department.code}">D-001</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header font-weight-bold">Facultad</div>
        <div class="card-body">
            <p class="card-text" th:text="${department.faculty}">Facultad de ejemplo</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header font-weight-bold">Teléfono de contacto</div>
        <div class="card-body">
            <p class="card-text" th:text="${department.phone}">985000000</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header font-weight-bold">Número de Profesores</div>
        <div class="card-body">
            <p class="card-text" th:text="${department.professors}">0</p>
        </div>
    </div>

    <div class="mt-3">
        <a href="/departments" class="btn btn-secondary">Volver a la lista</a>
    </div>
</div>

</body>
</html>